# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.eggs/

# Virtual envs
venv/
.venv/
env/

# Output
report.html
*.html

# API keys
.env
secrets.py

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/
.coverage
htmlcov/ 